<div class="depot_form">

  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %>
      prohibited this user from being saved:</h2>

    <ul>
      <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<br>
  <div class="container">
  <div class="forms">
    <h2>Cadastro</h2>
    <hr>
  </div>

  <div class="container">
    <h5>Preencha o formulário para criar sua conta:</h5>
    <br>

    <div class="field">
      <%= form.label :name, 'Nome:' %>
      <%= form.text_field :name, size: 40, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :email, 'E-mail:' %>
      <%= form.text_field :email, size: 40, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :password, 'Senha:' %>
      <%= form.password_field :password, size: 40, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, 'Confirmar a senha:' %>

      <%= form.password_field :password_confirmation,
                            id: :user_password_confirmation,
                            size: 40, class: "form-control" %>

    </div>
    <br>
    <div class="actions">
      <%= form.submit 'Cadastrar' %>
    </div>
    <% end %>

  </div>
</div>